@charset "UTF-8";
@font-face {
  font-family: 'Tahoma Bold';
  src: url("../fonts/Tahoma Bold/10234.eot");
  src: local("тШ║"), url("../fonts/Tahoma Bold/10234.woff") format("woff"), url("../fonts/Tahoma Bold/10234.ttf") format("truetype"), url("../fonts/Tahoma Bold/10234.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma Regular';
  src: url("../fonts/Tahoma Regular/10233.eot");
  src: local("тШ║"), url("../fonts/Tahoma Regular/10233.woff") format("woff"), url("../fonts/Tahoma Regular/10233.ttf") format("truetype"), url("../fonts/Tahoma Regular/10233.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html, body {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Tahoma Regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #252525;
  background-color: #fff;
  min-height: 100%;
  height: auto;
  position: relative;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

a {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #02ade3;
  text-decoration: none;
}
a:hover {
  color: #02c0fc;
  text-decoration: none;
}

p, ol, ul, dl {
  margin: 0;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

label, button, a, [type=submit] {
  cursor: pointer;
  outline: 0;
}

form {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  float: none !important;
  clear: both;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.wrap, #page-wrapper {
  width: 100%;
  margin: auto;
}

.wrap {
  padding: 0 10px;
  max-width: 1024px;
}

#page-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 44px 0 80px;
}

#main-content {
  overflow: hidden;
  padding-top: 14px;
}

#head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #02ade3;
}
#head .inner-wrap {
  height: 44px;
  padding-top: 4px;
  position: relative;
}

#menu-toggler {
  position: absolute;
  top: 11px;
  left: 10px;
  z-index: 5;
  border: 2px solid #81d6f1;
  padding: 3px;
}
#menu-toggler:hover, #menu-toggler:active {
  background-color: rgba(255, 255, 255, 0.15);
}
#menu-toggler span {
  display: block;
  width: 14px;
  height: 2px;
  background-color: #fff;
  border-bottom: 1px solid #c0ebf8;
  margin-bottom: 3px;
}
#menu-toggler span:last-child {
  margin: 0;
}

#head-search-toggler {
  position: absolute;
  top: 11px;
  right: 7px;
  z-index: 1000;
  width: 20px;
  height: 20px;
}
#head-search-toggler:before {
  content: '';
  content: '';
  height: 14px;
  width: 14px;
  background: url('img/main-sprite.png') 0 -77px no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
}

#head-search {
  display: none;
  position: absolute;
  top: 44px;
  width: 100%;
  height: auto;
  z-index: 5;
  background-color: #02ade3;
  padding: 2px 0 10px;
  box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.1);
}
#head-search .wrap {
  position: relative;
}
#head-search [type=text] {
  line-height: 20px;
  display: block;
  text-align: left;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  color: #81d6f1;
  background-color: #fff;
  padding-right: 65px;
  border: 1px solid #81d6f1;
}
#head-search [type=text]::-webkit-input-placeholder {
  color: #81d6f1;
}
#head-search [type=text]:-moz-placeholder {
  color: #81d6f1;
}
#head-search [type=text]::-moz-placeholder {
  color: #81d6f1;
}
#head-search [type=text]:-ms-input-placeholder {
  color: #81d6f1;
}
#head-search [type=text]:focus {
  color: #53c7ec;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
#head-search [type=submit] {
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 30px;
  background-color: #81d6f1;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
#head-search [type=submit]:before {
  content: '';
  content: '';
  height: 14px;
  width: 14px;
  background: url('img/main-sprite.png') 0 -77px no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
}
#head-search [type=submit]:hover {
  background-color: #6fd0ef;
}

#foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #282828;
  height: 44px;
  padding-top: 5px;
}

#menu {
  position: fixed;
  top: 44px;
  bottom: 0;
  left: -200px;
  width: 180px;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
  box-shadow: 3px 0 10px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -ms-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
#menu.active {
  left: 0;
}
#menu .inner-wrap {
  height: 100%;
  padding-bottom: 25px;
  overflow: auto;
}
#menu .aside-btn {
  display: block;
  margin: 5px 10px 0;
  border-radius: 2px;
  position: relative;
  background-color: transparent;
  height: 30px;
}
#menu .aside-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#menu .aside-btn:before {
  content: '';
  content: '';
  height: 14px;
  width: 37px;
  background: url('img/main-sprite.png') 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -19px;
}
#menu .aside-box {
  padding-bottom: 11px;
}
#menu .aside-box:after {
  content: '';
  display: table;
  clear: both;
}
#menu .aside-box .title {
  font-family: "Tahoma Bold";
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 180px;
  height: 43px;
  color: #fff;
  background-color: #7ac2c0;
  padding-left: 37px;
}
#menu .aside-box .title.ic1:before {
  content: '';
  content: '';
  height: 20px;
  width: 22px;
  background: url('img/main-sprite.png') 0 -111px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 7px;
}
#menu .aside-box .title.ic2:before {
  content: '';
  content: '';
  height: 18px;
  width: 21px;
  background: url('img/main-sprite.png') 0 -44px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 7px;
}
#menu .aside-box .title.ic3:before {
  content: '';
  content: '';
  height: 20px;
  width: 21px;
  background: url('img/main-sprite.png') 0 -91px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 7px;
}
#menu .aside-box > ul {
  padding-top: 8px;
}
#menu .aside-box > ul.img-link > li {
  padding-left: 8px;
  margin-bottom: 16px;
}
#menu .aside-box > ul.img-link > li:before {
  content: none;
}
#menu .aside-box > ul.img-link > li img {
  display: block;
  margin-left: 15px;
  margin-bottom: 8px;
}
#menu .aside-box > ul > li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  padding-right: 5px;
}
#menu .aside-box > ul > li:last-child {
  margin: 0;
}
#menu .aside-box > ul > li:before {
  content: '';
  height: 5px;
  width: 3px;
  background: url('img/main-sprite.png') 0 -14px no-repeat;
  position: absolute;
  top: 6px;
  left: 9px;
}
#menu .aside-box > ul > li > a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #5698c7;
}
#menu .aside-box > ul > li > a:hover, #menu .aside-box > ul > li > a:active {
  text-decoration: none;
  opacity: .85;
}
#menu .aside-list {
  width: 100%;
}
#menu .aside-list li {
  border-bottom: 1px solid #e2e2e2;
}
#menu .aside-list li:last-child {
  border: 0;
}
#menu .aside-list a {
  display: block;
  color: #252525;
  position: relative;
  padding: 8px 20px;
  text-decoration: none !important;
}
#menu .aside-list a:before {
  content: '';
  width: 3px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -1px;
  border-radius: 50%;
  background-color: #a5a5a5;
}
#menu .aside-list a:hover, #menu .aside-list a:active {
  color: #02ade3;
  background-color: rgba(0, 0, 0, 0.07);
}
#menu .aside-list a:hover:before, #menu .aside-list a:active:before {
  background-color: #02ade3;
}

.img-cntr {
  display: block;
  margin: 0 auto 14px;
}

b {
  font-family: "Tahoma Bold";
  font-weight: normal;
  color: #252525;
}

.contact-mail {
  font-size: 14px;
  line-height: 1;
  margin: 7px 0 17px;
}

.top-separated {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
}

.news-box {
  padding-top: 8px;
  border-top: 1px solid #e7e7e7;
}
.news-box.first {
  padding: 0;
  border: 0;
}

.err-404 {
  font-family: "Tahoma Bold";
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-top: 27px;
  color: #000000;
}
.err-404 span {
  font-size: 36px;
  display: block;
  margin-bottom: 13px;
}

.title-bold, .title-reg, .title-separated {
  margin: 0;
  padding: 0;
}
.title-bold a, .title-reg a, .title-separated a {
  color: inherit;
}

.ttl-18px {
  font-size: 18px !important;
  margin-bottom: 14px !important;
  line-height: 24px !important;
}

.title-bold {
  font-family: "Tahoma Bold";
  font-size: 24px;
  font-weight: normal;
  color: #02ade3;
  line-height: 30px;
  margin-bottom: 19px;
}
.title-bold.pad-top {
  padding-top: 12px;
}
.title-reg {
  font-family: "Tahoma Regular";
  font-size: 24px;
  font-weight: normal;
  color: #252525;
  line-height: 30px;
  margin-bottom: 16px;
}
.title-reg.pad-top {
  padding-top: 12px;
}
.title-separated {
  font-family: "Tahoma Regular";
  font-size: 18px;
  font-weight: normal;
  color: #02ade3;
  line-height: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid #02ade3;
  margin-bottom: 14px;
}

.form-box {
  width: 100%;
  max-width: 320px;
  margin: auto;
}

.form-line {
  overflow: hidden;
  margin-bottom: 9px;
}
.form-line.captcha img {
  float: right;
  margin-bottom: 9px;
}
.form-line.captcha input, .form-line.captcha a {
  width: 130px;
  margin-bottom: 9px;
}
.form-line.captcha a {
  text-decoration: underline;
  display: block;
  position: relative;
  padding-left: 30px;
}
.form-line.captcha a:before {
  content: '';
  content: '';
  height: 15px;
  width: 20px;
  background: url('img/main-sprite.png') 0 -62px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 4px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.form-line.captcha a:hover {
  text-decoration: none;
}
.form-line.captcha a:hover:before {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.form-line.submit {
  text-align: center;
}

.form-el {
  font-family: "Tahoma Regular";
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  display: block;
  text-align: left;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  padding: 7px 5px;
  color: #757575;
  background: #fff;
  background: -webkit-linear-gradient(bottom, #fff, #e3e3e3);
  background: linear-gradient(to top, #fff, #e3e3e3);
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px 1px #b4b4b4;
}
.form-el::-webkit-input-placeholder {
  color: #757575;
}
.form-el:-moz-placeholder {
  color: #757575;
}
.form-el::-moz-placeholder {
  color: #757575;
}
.form-el:-ms-input-placeholder {
  color: #757575;
}
.form-el:focus {
  color: #02ade3;
  background: #fff;
  box-shadow: none;
  font-family: "Tahoma Bold";
  border: 2px solid #02ade3;
}
.form-el:focus::-webkit-input-placeholder {
  color: #02ade3;
}
.form-el:focus:-moz-placeholder {
  color: #02ade3;
}
.form-el:focus::-moz-placeholder {
  color: #02ade3;
}
.form-el:focus:-ms-input-placeholder {
  color: #02ade3;
}

.submit-el {
  display: inline-block;
  font-family: "Tahoma Regular";
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  background-color: #02ade3;
  line-height: 42px;
  border: 0;
  margin: 0;
  border-radius: 3px;
  border-bottom: 2px solid #3e6e8e;
  padding: 0 17px;
}

textarea.form-el {
  height: 80px;
  line-height: 1.1;
  padding: 7px 5px;
}

.pagination {
  position: relative;
  font-size: 18px;
  color: #585858;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
}
.pagination ul {
  position: relative;
  padding: 0 85px;
}
.pagination a {
  color: #585858;
  line-height: 1;
}
.pagination a:hover, .pagination a:active {
  text-decoration: none;
}
.pagination li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.pagination li.active a {
  font-size: 24px;
  color: #02ade3;
}
.pagination li.prev, .pagination li.next {
  position: absolute;
  top: 3px;
}
.pagination li.prev a, .pagination li.next a {
  display: block;
  text-align: left;
  width: 75px;
  line-height: 17px;
  color: #cecece;
  position: relative;
}
.pagination li.prev a:hover, .pagination li.prev a:active, .pagination li.next a:hover, .pagination li.next a:active {
  color: #c1c1c1;
}
.pagination li.prev {
  left: 0;
}
.pagination li.prev a {
  padding-left: 16px;
}
.pagination li.prev a:before {
  content: '';
  content: '';
  height: 14px;
  width: 8px;
  background: url('img/main-sprite.png') 0 -30px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pagination li.next {
  right: 0;
}
.pagination li.next a {
  padding-right: 16px;
}
.pagination li.next a:before {
  content: '';
  content: '';
  height: 14px;
  width: 8px;
  background: url('img/main-sprite.png') 0 -30px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0;
}

.breadcrumbs {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0 6px;
}
.breadcrumbs li {
  display: inline-block;
  margin-bottom: 4px;
}
.breadcrumbs li:after {
  content: '';
  height: 11px;
  width: 7px;
  background: url('img/main-sprite.png') 0 -19px no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.breadcrumbs li:last-child:after {
  content: none;
}
.breadcrumbs a {
  line-height: 1;
  color: #878787;
}
.breadcrumbs a:hover, .breadcrumbs a:active, .breadcrumbs a.active {
  text-decoration: underline;
  color: #02ade3;
}

@font-face {
  font-family: 'Tahoma Bold';
  src: url("../fonts/Tahoma Bold/10234.eot");
  src: local("тШ║"), url("../fonts/Tahoma Bold/10234.woff") format("woff"), url("../fonts/Tahoma Bold/10234.ttf") format("truetype"), url("../fonts/Tahoma Bold/10234.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma Regular';
  src: url("../fonts/Tahoma Regular/10233.eot");
  src: local("тШ║"), url("../fonts/Tahoma Regular/10233.woff") format("woff"), url("../fonts/Tahoma Regular/10233.ttf") format("truetype"), url("../fonts/Tahoma Regular/10233.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
