//----------  CSS IMAGES  --------

$icons: sprite-map('sprite/*.png');
//$sprite-spacing: 4px;
//@import 'sprite/*.png';
$css-url: '../css/img/';

//----------  FONTS ---------

$font-url: '../fonts';

$fonts: (
		regular: 'Tahoma Regular',
		bold: 'Tahoma Bold'
	);

@font-face {
	font-family: 'Tahoma Bold';
	src: url('#{$font-url}/Tahoma Bold/10234.eot');
	src: local('☺'), 
	url('#{$font-url}/Tahoma Bold/10234.woff') format('woff'), 
	url('#{$font-url}/Tahoma Bold/10234.ttf') format('truetype'), 
	url('#{$font-url}/Tahoma Bold/10234.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tahoma Regular';
	src: url('#{$font-url}/Tahoma Regular/10233.eot');
	src: local('☺'), 
	url('#{$font-url}/Tahoma Regular/10233.woff') format('woff'), 
	url('#{$font-url}/Tahoma Regular/10233.ttf') format('truetype'), 
	url('#{$font-url}/Tahoma Regular/10233.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@function family($font-key, $font-map: $fonts){
	@if (map-has-key($font-map, $font-key)){
		@return map-get($font-map, $font-key)
	}
	@warn 'font-family `#{$font-key}` not found';
}

//----------  MEDIA  ----------

$breakpoints: (
	
	);

@mixin media($breakpoint-key, $breakpoint-map: $breakpoints, $type: 'screen') {
	@if map-has-key($breakpoint-map, $breakpoint-key) {
		@media #{$type} and #{map-get($breakpoint-map, $breakpoint-key)} {
			@content;
		}
	}
	@warn "media-query config does not contain breakpoint `#{$breakpoint-key}`.";
}

//----------  COLORS  ----------

$colors: (
	aqua: #02ade3,
	black: #282828
	);

@function color($color-key, $color-map: $colors){
	@if (map-has-key($color-map, $color-key)){
		@return map-get($color-map, $color-key)
	}
	@warn 'color `#{$color-key}` not found';
}