@mixin position($position, $args: ()) {
	$offsets: top right bottom left;
	position: $position;

	@each $offset in $offsets {
		$index: index($args, $offset);

		@if $index {                       
			@if $index == length($args) {
				#{$offset}: 0;
			}
			@else {      
				$next: nth($args, $index + 1);               
				@if is-valid-length($next) {
					#{$offset}: $next;
				}
				@else if index($offsets, $next) {
					#{$offset}: 0;
				}
				@else {
					@warn "Invalid value `#{$next}` for offset `#{$offset}`.";
				}
			}
		}
	}
}

@mixin absolute($args: ()) {
	@include position(absolute, $args);
}

@mixin fixed($args: ()) {
	@include position(fixed, $args);
}

@mixin relative($args: ()) {
	@include position(relative, $args);
}

@mixin size($width, $height:$width){
	@if (is-valid-length($width) and is-valid-length($height)){
		width: $width;
		height: $height;
	}
	@else{
		@warn "Invalid value for `height` or `width`";
	}
}

@mixin colors($color, $background-color){
	@if (type-of($color) == 'color' and type-of($background-color) == 'color'){
		color: $color;
		background-color: $background-color;
	}
	@else{
		@warn "Invalid value for `color` or `background-color`";
	}
}

@mixin linear-gradient($direction, $color-stops...) {
	
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
 
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin font($font-args:()){

	$font-weight: bold normal;
	$font-style: italic oblique normal;
	$normal-entry: 0;

	@each $property in $font-args{
		@if is-length($property){
			font-size: $property;
		}
		@else if (index($font-weight, $property) or index($font-style, $property)){
			@if (index($font-weight, $property) and $normal-entry == 0){
				@if ($property == 'normal'){
					$normal-entry: 1;
				}
				font-weight: $property;
			}
			@else {
				font-style: $property;
			}
		}
		@else{
			font-family: $property;
		}
	}
}

@mixin prefix($map, $vendors: webkit moz ms o) {
	@each $prop, $value in $map {
		@if $vendors {
			@each $vendor in $vendors {
				#{"-" + $vendor + "-" + $prop}: #{$value};
			}
		}
		#{$prop}: #{$value};
	}
}

@mixin input($height, $line-height, $padding: 1em){
	@if (is-length($line-height)){
		line-height: $line-height;
		display: block;
		text-align: left;
		outline: 0;
		box-sizing: border-box;
		@include size(100%, $height);
		padding: floor(($height - $line-height)/2) $padding;
	}
	@else{
		@warn 'Invalid value for `font-size`';
	}
}

@mixin placeholder{
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder{
		@content;
	}
	&::-moz-placeholder { 
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin content($width, $height: $width){
	content: '';
	@include size($width, $height);
}

@mixin clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

@mixin ib($align: middle){
	display: inline-block;
	vertical-align: $align;
}

@mixin icon($map, $sprite){

	$map-name: sprite-map-name($map);
	$sprite: unquote($sprite);
	$sprite-list: sprite-names($map);

	@if index($sprite-list, $sprite){
		content: '';
		@include sprite-dimensions($map, $sprite);
		background: sprite($map, $sprite) no-repeat;
	}
	@else {
		@warn 'Map `#{$map-name}` does not contain `#{$sprite}` sprite';
	}
}

@mixin icon-center($map, $sprite){
	content: '';
	@include icon($map, $sprite);
	@include absolute(top 50% left 50%);    
	margin:{
		top: - ceil(image-height(sprite-file($map, $sprite))/2);
		left: - ceil(image-width(sprite-file($map, $sprite))/2);
	}
}

@mixin icon-vertical($map, $sprite, $args: ()){
	content: '';
	@include icon($map, $sprite);
	position: absolute;
	top: 50%;
	margin-top: - ceil(image-height(sprite-file($map, $sprite))/2);

	$valid-offsets: right left;
	$count-valid-offsets: 0;

	@each $offset in $valid-offsets{
		@if (index($args, $offset) and ($count-valid-offsets == 0)){

			$found-index: index($args, $offset);
			$count-valid-offsets: 1;

			@if $found-index == length($args){
				#{$offset}: 0;
			}
			@else {
				$next: nth($args, $found-index + 1);

				@if index($valid-offsets, $next){
					#{$offset}: 0;
				}

				@if is-valid-length($next) {
					#{$offset}: $next; 
				}
			}
		}

		@else{
			@if (($count-valid-offsets == 1) and index($args, $offset)){
				@warn "Must be set only one of offsets : `left` or `right`. First found is applied";
			}
		}
	}
}

@mixin icon-horizontal($map, $sprite, $args: ()){
	content: '';
	@include icon($map, $sprite);
	position: absolute;
	left: 50%;
	margin-left: - ceil(image-width(sprite-file($map, $sprite))/2);

	$valid-offsets: top bottom;
	$count-valid-offsets: 0;

	@each $offset in $valid-offsets{
		@if (index($args, $offset) and ($count-valid-offsets == 0)){

			$found-index: index($args, $offset);
			$count-valid-offsets: 1;

			@if $found-index == length($args){
				#{$offset}: 0;
			}
			@else {
				$next: nth($args, $found-index + 1);

				@if index($valid-offsets, $next){
					#{$offset}: 0;
				}

				@if is-valid-length($next) {
					#{$offset}: $next; 
				}
			}
		}

		@else{
			@if (($count-valid-offsets == 1) and index($args, $offset)){
				@warn "Must be set only one of offsets : `top` or `bottom`. First found is applied";
			}
		}
	}
}

@function is-valid-length($value) {
	@return index(0 "auto" "inherit" "initial", $value) or 
	(type-of($value) == "number" and not unitless($value));
}

@function is-length($value) {
	@return index(0 "inherit", $value) or 
	(type-of($value) == "number" and not unitless($value));
}

@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
 
  @return $is-keyword or $is-angle;
}

@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }
 
  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );
 
  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }
 
  @return 90deg - $value;
}