#menu{
	@include fixed(top 44px bottom left -200px);
	width: 180px;
	background-color: #fff;
	z-index: 100;
	overflow: hidden;
	box-shadow: 3px 0 10px 5px rgba(#000, .1);
	@include prefix((
		transition: left .2s ease
		));

	&.active{
		left: 0;
	}

	.inner-wrap{
		height: 100%;
		padding-bottom: 25px;
		overflow: auto;
	}

	.aside-btn{
		display: block;
		margin: 5px 10px 0;
		border-radius: 2px;
		position: relative;
		background-color: transparent;
		height: 30px;

		&:hover{
			background-color: rgba(#000, .1);
		}

		&:before{
			@include icon-center($icons, arr-lg);
		}
	}

	.aside-box{
		padding-bottom: 11px;
		@include clearfix;

		.title{
			@include font(family(bold) 14px);
			display: table-cell;
			vertical-align: middle;
			position: relative;
			@include size(180px, 43px);
			@include colors(#fff, #7ac2c0);
			padding-left: 37px;

			&.ic1:before{
				@include icon-vertical($icons, web ,left 7px);
			}
			&.ic2:before{
				@include icon-vertical($icons, mic ,left 7px);
			}
			&.ic3:before{
				@include icon-vertical($icons, star ,left 7px);
			}
		}

		> ul{
			padding-top: 8px;

			&.img-link{
				> li {
					padding-left: 8px;
					margin-bottom: 16px;
					
					&:before{
						content: none;
					}

					img{
						display: block;
						margin-left: 15px;
						margin-bottom: 8px;
					}
				}
			}

			> li {
				margin-bottom: 5px;
				position: relative;
				padding: {
					left: 20px;
					right: 5px;
				}
				&:last-child{
					margin: 0;
				}
				&:before{
					@include icon($icons, arr-link);
					@include absolute(top 6px left 9px);
				}

				> a {
					font-size: 14px;
					line-height: 16px;
					text-decoration: underline;
					color: #5698c7;

					&:hover, &:active{
						text-decoration: none;
						opacity: .85;
					}
				}
			}

		} 
	}
	
	.aside-list{
		width: 100%;

		li{
			border-bottom: 1px solid #e2e2e2;
			&:last-child{
				border: 0;
			}
		}

		a{
			display: block;
			color: #252525;
			position: relative;
			padding: 8px 20px;
			text-decoration: none !important;

			&:before{
				@include content(3px);
				@include absolute(left 10px top 50%);
				margin-top: -1px;
				border-radius: 50%;
				background-color: #a5a5a5;
			}

			&:hover, &:active{
				color: color(aqua);
				background-color: rgba(#000, .07);
				&:before{
					background-color: color(aqua);
				}
			}
		}
	}
}