%page-wrap{
	width: 100%;
	margin: auto;
}

.wrap{
	@extend %page-wrap;
	padding: 0 10px;
	max-width: 1024px;
}

#page-wrapper{
	@extend %page-wrap;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 44px 0 80px;
}

#main-content{
	overflow: hidden;
	padding-top: 14px;
}