#head{
	@include fixed(top left right);
	z-index: 1000;
	background-color: color(aqua);

	.inner-wrap{
		height: 44px;
		padding-top: 4px;
		position: relative;
	}
}

#menu-toggler{
	@include absolute(top 11px left 10px);
	z-index: 5;
	border: 2px solid #81d6f1;
	padding: 3px;

	&:hover, &:active{
		background-color: rgba(#fff, .15);
	}

	span{
		display: block;
		@include size(14px, 2px);
		background-color: #fff;
		border-bottom: 1px solid #c0ebf8;
		margin-bottom: 3px;

		&:last-child{
			margin: 0;
		}
	}
}

#head-search-toggler{
	@include absolute(top 11px right 7px);
	z-index: 1000;
	@include size(20px);
	&:before{
		@include icon-center($icons, search)
	}
}

#head-search{
	display: none;
	@include absolute(top 44px);
	@include size(100%, auto);
	z-index: 5;
	background-color: color(aqua);
	padding: 2px 0 10px;
	box-shadow: 0 3px 1px 1px rgba(#000, .1);

	.wrap{
		position: relative;
	}

	[type=text]{
		@include input(30px, 20px, 10px);
		@include colors(#81d6f1 ,#fff);
		padding-right: 65px;
		border: 1px solid #81d6f1;
		@include placeholder {
			color: #81d6f1
		}

		&:focus{
			color: darken(#81d6f1, 10%);
			box-shadow: inset 0 0 1px 1px rgba(#000, .1);
		}
	}

	[type=submit]{
		@include absolute(top right  10px);
		@include size(50px, 30px);
		background-color: #81d6f1;
		z-index: 1;
		margin: 0;
		padding: 0;
		border: 0;
		border-left: 1px solid rgba(#000, .1);

		&:before{
			@include icon-center($icons, search)
		}

		&:hover{
			background-color: darken(#81d6f1, 4%);
		}
	}
}