html, body {
	width: 100%;
	margin: auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

body{
	font:{
		family: family(regular), Arial, sans-serif;
		weight: normal;
		size: 13px; 
	}
	line-height: 18px;
	@include colors(#252525, #fff);
	min-height: 100%;
	height: auto;
	position: relative;
}

* {
	box-sizing: border-box;

	&:before, &:after{
		box-sizing: border-box;
	}
}

a{
	@include prefix((
		transition: all .15s linear
		));
	color: color(aqua);
	text-decoration: none;

	&:hover{
		color: lighten(color(aqua), 5%);
		text-decoration: none;
	}
}

p, ol, ul, dl{
	margin: 0;
	margin-bottom: 1em;
}

img{
	max-width: 100%;
}

label, button, a, [type=submit]{
	cursor: pointer;
	outline: 0;
}

form{
	display: block;
}