.fl{
	float: left;
}

.fr{
	float: right;
}

.clear{
	float: none !important;
	clear: both;
}

.list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.text{
	&-center{
		text-align: center;
	}
	&-right{
		text-align: right;
	}
	&-left{
		text-align: left;
	}
	&-justify{
		text-align: justify;
	}
}