.breadcrumbs{
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0 6px;

	li{
		display: inline-block;
		margin-bottom: 4px;

		&:after{
			@include icon($icons, arr-right);
			@include ib;
			margin-left: 5px;
		}

		&:last-child:after{
			content: none;
		}
	}

	a{
		line-height: 1;
		color: #878787;

		&:hover, &:active, &.active{
			text-decoration: underline;
			color: color(aqua);
		}
	}
}