.form-box{
	width: 100%;
	max-width: 320px;
	margin: auto;
}

.form-line {
	overflow: hidden;
	margin-bottom: 9px;;

	&.captcha {
		img{
			float: right;
			margin-bottom: 9px;
		}

		input, a{
			width: 130px;
			margin-bottom: 9px;
		}

		a{
			text-decoration: underline;
			display: block;
			position: relative;
			padding-left: 30px;
			&:before{
				@include icon-vertical($icons, refresh, left 4px);
				@include  prefix((
					transition: all .15s linear
					));
			}

			&:hover{
				text-decoration: none;
				&:before{
					@include  prefix((
						transform: rotate(-180deg)
						));
				}
			}
		}
	}

	&.submit {
		text-align: center;
	}
}

.form-el {
	@include font(family(regular) 16px normal);
	@include input(31px, 17px, 5px);
	color: #757575;
	@include linear-gradient(to top, #fff, #e3e3e3);
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px 1px #b4b4b4;
	@include placeholder {
		color: #757575;
	}

	&:focus {
		color: color(aqua);
		background: #fff;
		box-shadow: none;
		font-family: family(bold);
		border: 2px solid color(aqua);
		@include placeholder {
			color: color(aqua);
		}
	}
}

.submit-el{
	display: inline-block;
	@include font(family(regular) 20px normal);
	@include colors(#fff, color(aqua));
	line-height: 42px;
	border: 0;
	margin: 0;
	border-radius: 3px;
	border-bottom: 2px solid #3e6e8e;
	padding: 0 17px;
}

textarea.form-el{
	height: 80px;
	line-height: 1.1;
	padding: 7px 5px;
}