.img-cntr{
	display: block;
	margin: 0 auto 14px;
}

b{
	@include font(family(bold) normal);
	color: #252525;
}

.contact-mail{
	font-size: 14px;
	line-height: 1;
	margin: 7px 0 17px;
}

.top-separated{
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
}

.news-box{
	padding-top: 8px;
	border-top: 1px solid #e7e7e7;

	&.first{
		padding: 0;
		border: 0;
	}
}

.err-404{
	@include font(family(bold) 18px normal);
	line-height: 1;
	margin-top: 27px;
	color: #000000;

	span{
		font-size: 36px;
		display: block;
		margin-bottom: 13px;
	}
}