.pagination{
	position: relative;
	font-size: 18px;
	color: #585858;
	padding: 20px 0;
	border-top: 1px solid #e7e7e7;

	ul{
		position: relative;
		padding: 0 85px;
	}

	a{
		color: #585858;
		line-height: 1;

		&:hover, &:active{
			text-decoration: none;
		}
	}

	li{
		@include ib;
		margin: 0 5px;

		&.active a{
			font-size: 24px;
			color: color(aqua);
		}

		&.prev, &.next{
			@include absolute(top 3px);
			a{
				display: block;
				text-align: left;
				width: 75px;
				line-height: 17px;
				color: #cecece;
				position: relative;
				&:hover, &:active{
					color: darken(#cecece, 5%);
				}
			}
		}

		&.prev{
			left: 0;
			a{
				padding-left: 16px;
				&:before{
					@include icon-vertical($icons, arr, left);
					@include prefix((
						transform: rotate(180deg)
						));
				}
			}
		}

		&.next{
			right: 0;
			a{
				padding-right: 16px;
				&:before{
					@include icon-vertical($icons, arr, right);
				}
			}
		}
	}
}