%title{
	margin: 0;
	padding: 0;

	a{
		color: inherit;
	}
}

.ttl-18px{
	font-size: 18px !important;
	margin-bottom: 14px !important;
	line-height: 24px !important;
}

.title{
	&-bold{
		@include font(family(bold) 24px normal);
		@extend %title;
		color: color(aqua);
		line-height: 30px;
		margin-bottom: 19px;

		&.pad-top{
			padding-top: 12px;
		}
	}

	&-reg{
		@include font(family(regular) 24px normal);
		@extend %title;
		color: #252525;
		line-height: 30px;
		margin-bottom: 16px;

		&.pad-top{
			padding-top: 12px;
		}
	}

	&-separated{
		@include font(family(regular) 18px normal);
		@extend %title;
		color: color(aqua);
		line-height: 20px;
		padding-bottom: 6px;
		border-bottom: 1px solid color(aqua);
		margin-bottom: 14px;
	}
}